.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgba(#819ca9, 0.2), rgba(#4ebaaa, 0.3), rgba(#ffffff,0)  );
}